<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basics</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
    <div class="container">

        <div class="tumbler">

            <div class="image">
                <img src="../static/uploads/thecolorlesseyes.jpg" alt="" width="40px" height="40px">
            </div>
    
            <div class="information">
                <div class="username">thecolorlesseyes</div>
                <div class="name">The Colorless Eyes</div>
            </div>
    
            <a href='https://www.instagram.com/thecolorlesseyes' target="_top" class="redirect"> <img src="../static/logo/instagram.svg" width="30px" height="30px" alt=""> </button> </a>
    
        </div>

    </div>

</body>
</html>